{% extends "court/base2.html" %}
{% block content %}
    <h1>CaseFile</h1>

    <div class="custom-form">
        <form method="POST" action="">
        {% csrf_token%}
            <label for="name_of_applicant">NAME</label><br>
            {{ form.name_of_applicant }}<br>
            <label for="phone_number">PHONE NUMBER</label><br>
            {{ form.phone_number }}<br>
            <label for="address">ADDRESS</label><br>
            {{ form.address }}<br>
            <label for="case_type">CASE TYPE</label><br>
            {{ form.case_type }}<br>
            <label for="court_type">COURT</label><br>
            {{ form.court_type }}<br>
            <label for="subject">SUBJECT</label><br>
            {{ form.subject }}<br>
            <label for="file">FILE</label><br>
            {{ form.file }}<br>
    
            <input type="submit" name="Submit" id ="Submit" value="Submit">
        </form>
  </div>
{% endblock content %}