{% extends "court/base2.html" %}
{% block content %}
    <h1>CaseFile</h1>

    <div class="custom-form">
        <form method="POST" action="">
        {% csrf_token%}
            <label for="username">NAME</label><br>
            {{ form.name_of_applicant }}<br>
            <label for="password">PHONE NUMBER</label><br>
            {{ form.phone_number }}<br>
            <label for="password1">ADDRESS</label><br>
            {{ form.address }}<br>
            <label for="email">CASE TYPE</label><br>
            {{ form.case_type }}<br>
            <label for="first_name">COURT</label><br>
            {{ form.court_type }}<br>
            <label for="last_name">SUBJECT</label><br>
            {{ form.subject }}<br>
            <label for="user_type">FILE</label><br>
            {{ form.file }}<br>
    
            <input type="submit" name="Submit" id ="Submit" value="Submit">
        </form>
  </div>
{% endblock content %}