{% extends "court/base.html" %}
{% block content %}
    <div class="heading">
        <h2>Login</h2>
    </div>

    <div class="custom-form">
          <form method="POST" action="">
          {% csrf_token%}
              <label for="username">USERNAME</label><br>
              {{ form.username }}<br>
              <label for="password">PASSWORD</label><br>
              {{ form.password}}<br>
              <input type="submit" name="Submit" id ="Submit" value="Submit">
          </form>
    </div>
{% endblock content %}