{% extends "court/base.html" %}
{% block content %}
<div class="containercasefile casefilediv">
    <form id="casefile" action="" method="post">
        {% csrf_token%}
        <h2>Registration</h2>
        <label for="username">USERNAME</label><br>
        {{ form.username }}<br>
        <label for="password">PASSWORD</label><br>
        {{ form.password}}<br>
        <label for="password1">CONFIRM PASSWORD</label><br>
        {{ form.password1}}<br>
        <label for="email">EMAIL</label><br>
        {{ form.email}}<br>
        <label for="first_name">FIRST NAME</label><br>
        {{ form.first_name}}<br>
        <label for="last_name">LAST NAME</label><br>
        {{ form.last_name}}<br>
        <label for="user_type">USER TYPE</label><br>
        {{ form.user_type}}<br>
        <label for="court">COURT</label><br>
        {{ form.court }}<br>
        <label for="district">DISTRICT</label><br>
        {{ form.address }}<br>
        <label for="license_no">LICENSE NUMBER</label><br>
        {{ form.license_no}}<br>
        <input type="submit" name="Submit" id="Submit" value="Submit" style="color: black">

    </form>
</div>

{% endblock content %}